.cardsContainer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    position: relative;
    z-index: 10;
}

.cardLink {
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
    width: 30%;
}

.card {
    width: 100%;
    background-color: whitesmoke;
    color: rgb(0, 0, 66);
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cardTitle {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: .5px;
}

.cardText {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line;
    letter-spacing: .5px;
}

/*
|--------------------------------------------------------------------------
| TABLET RESPONSIVENESS (max-width: 768px)
|--------------------------------------------------------------------------
*/
@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        width: 95%;
    }
    
    .cardLink {
        width: 90%; 
        max-width: 400px;
        margin-bottom: 25px; 
    }
    
    .card:last-child .cardLink {
        margin-bottom: 0;
    }

    .card {
        width: 100%;
        padding: 40px 25px;
    }
}


/*
|--------------------------------------------------------------------------
| PHONE RESPONSIVENESS (max-width: 480px)
|--------------------------------------------------------------------------
*/
@media (max-width: 480px) {
    .cardsContainer {
        margin-top: -30px;
    }

    .cardLink {
        width: 95%;
        max-width: none;
    }

    .card {
        padding: 30px 20px;
    }
    
    .cardTitle {
        font-size: 18px;
        letter-spacing: .6px;
    }
    
    .cardText {
        font-size: 13px;
        letter-spacing: .6px;
    }
}