.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto; 
    margin-top: -60px;
    padding: 0 40px;
    position: relative;
    z-index: 10;
}

.cardLink {
    flex: 1; 
    text-decoration: none;
    color: inherit; 
    cursor: pointer;
}

.card {
    background-color: whitesmoke;
    color: rgb(0, 0, 66);
    padding: 50px 30px;
    flex: 1;
    border-radius: 4px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cardLink:hover .card {
    transform: translateY(-10px); 
}

.cardTitle {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: .5px;
}

.cardText {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
    }
    .card {
        width: 90%;
        max-width: 400px;
    }
}