.heroSection {
  background-color: #001f40; 
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 20px; 
  position: relative;
  z-index: 1;
}

.headline {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: .5px;
}

.tagline {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 650px; 
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  letter-spacing: .5px;
}

.ctaButton {
  background-color: transparent; 
  color: white;
  border: 2px solid white; 
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s, color 0.3s;
}

.ctaButton:hover {
  background-color: white;
  color: #001f40; 
}


@media (max-width: 768px) {
    .heroSection {
        padding: 100px 20px; 
    }

    .headline {
        font-size: 2.8rem; 
    }

    .tagline {
        font-size: 1.1rem;
    }
}


@media (max-width: 576px) {
    
    .headline {
        font-size: 2rem; 
    }

    .tagline {
        font-size: 1rem;
    }
    
    .ctaButton {
        padding: 14px 35px;
    }
}


@media (max-width: 480px) {

  .headline {
    font-size: 23px;
    line-height: 38px;
  }

  .tagline {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .ctaButton {
    padding: 8px 24px;
    font-size: 14px;
  }

  .ctaButton:hover {
    background-color: white;
    color: #001f40; 
  }

}