:root {
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}