.header {
  width: 100%;
  background-color: whitesmoke; 
  color: #001f40;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px 40px;
}


.logo a {
  text-decoration: none;
  color: inherit; /* Inherits white color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.logoText {
  font-size: 23px;
  font-weight: 700; 
  letter-spacing: .5px;
}

.logoSubtext {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .4px;
}


/* --- Navigation Links --- */
.navLinks {
  display: flex;
  gap: 35px;
}

.navItem {
  color: #001f40;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .6px;
  transition: opacity 0.2s;
}

.navItem:hover {
  opacity: 0.8;
}