.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.coursesSection {
  padding: 60px 0;
  padding-bottom: 80px;
}

.coursesSection h2 {
  text-align: center;
  margin-bottom: 60px; 
  font-size: 30px;
  color: #001f40;
  font-weight: 700;
  letter-spacing: .7px;
}

.courseGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.backLinkContainer {
  text-align: center;
  margin: 60px 0;
}



@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .coursesSection h2 {
        font-size: 25px;
        margin-bottom: 60px;
    }
    
    .coursesSection {
        padding: 40px 0;
        padding-bottom: 50px;
    }
}


@media (max-width: 480px) {
    .coursesSection h2 {
        font-size: 20px;
        margin-bottom: 50px;
        padding: 0 10px;
        line-height: 1.5;
    }


    .courseCard p {
        font-size: 14px;
        line-height: 1.6;
    }
}